/************* Radius for Smallest Screens (sm & default) *************/
.custom-radius {
  border-radius: 15px;
}

/************* Radius for Medium Screen (md) *************/
@media (min-width: 768px) {
  .custom-radius {
    border-radius: 22px;
  }
}

/************* Radius for Large Screen (lg) *************/
@media (min-width: 992px) {
  .custom-radius {
    border-radius: 0px;
  }
}

/************* Radius for Extra large Screen (xl) *************/
@media (min-width: 1200px) {
  .custom-radius {
    border-radius: 0px;
  }
}

/************* Radius for Extra large Screen (xxl) *************/
@media (min-width: 1400px) {
  .custom-radius {
    border-radius: 0px;
  }
}

/************* Background for Large Screens *************/
.bg-lg-background {
  width: 100%; 
  height: auto; 
  background-image: url('img/background_lg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-lg-background-service {
  width: 100%; 
  height: auto; 
  background-image: url('img/service-bg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-lg-background-about {
  width: 100%; 
  height: auto; 
  background-image: url('img/about-bg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-lg-background-flavor {
  width: 100%; 
  height: auto; 
  background-image: url('img/flavor-bg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-lg-background-reservation {
  width: 100%; 
  height: auto; 
  background-image: url('img/reservation-bg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-lg-background-team {
  width: 100%; 
  height: auto; 
  background-image: url('img/team-bg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-background-team-avatar {
  width: 100%; 
  height: auto; 
  background-image: url('img/team-avatar.jpeg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow-x: hidden;
  overflow-y: hidden;
}

/************* Background for Medium Screens and Smaller *************/
@media (max-width: 991px) { 
  .bg-md-background-reservation {
    width: 100%; 
    min-height: 100vh;
    height: auto; 
    background-image: url('img/background_md.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
      overflow-x: hidden;
      overflow-y: hidden;
      
  }
}

@media (max-width: 991px) { 
  .bg-md-background {
    width: 100%; 
    height: auto; 
    background-image: url('img/background_md.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
      overflow-x: hidden;
      overflow-y: hidden;
      
  }
}



/************* Imported Fonts *************/
@font-face {
    font-family: 'Bitshow';
    src: url('fonts/Bitshow.ttf');
}

@font-face {
    font-family: 'Bubble';
    src: url('fonts/Game\ Bubble.ttf');
}

@font-face {
  font-family: 'Rasty';
  src: url('fonts/Sweety\ Rasty.otf');
}

@font-face {
  font-family: 'Peace';
  src: url('fonts/Super\ Peace.ttf');
}

.font1 {
  font-family: 'Bitshow', serif;
}

.font2 {
  font-family: 'Bubble', serif;
}

.font3 {
  font-family: 'Rasty', serif;
}

.font4 {
  font-family: 'Peace', serif;
}

/************* Animations *************/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fadeInUp.triggered {
  animation: fadeInUp 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideLeftIn {
  from {
    opacity: 0;
    transform: translateX(-100px); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes slideRightIn {
  from {
    opacity: 0;
    transform: translateX(100px); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8); 
  }
  to {
    opacity: 1;
    transform: scale(1); 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.slideLeftIn, .slideRightIn, .zoomIn, .fadeIn {
  opacity: 0;
  transform: translateX(0); 
}

.slideLeftIn.triggered {
  animation: slideLeftIn 1s ease-in-out forwards;
}

.slideRightIn.triggered {
  animation: slideRightIn 1s ease-in-out forwards;
}

.zoomIn.triggered {
  animation: zoomIn 1s ease-in-out forwards;
}

.fadeIn.triggered {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



/************* Override & Custom CSS *************/

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1700px !important; 
  }
}

:root {
  --primary: #f01c11;
  --light: #F1F8FF;
  --dark: #0F172B;
}

#milkteaImg {
  width: 50px;
}

#pizzaImg {
  width: 80px;
  padding-top: 5px;
}

#milkshakeImg {
  width: 45px;
}

#middleLine {
  width: 1700px;
  max-width: 100%; 
  overflow-x: hidden;
}

a {
  text-decoration: none !important; 
}

#noUnderline {
  text-decoration: none !important;
}

.Custom-Navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.def-color {
  color: #bb9600;
}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/* Style for the scroll-up button */
.scroll-up-btn {
  position: fixed;
  bottom: 10%; 
  right: 20px; 
  background-color: #bb9600; 
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000; 
  display: none; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

.scroll-up-btn:hover {
  background-color: #c82333; 
}


/*custom img slider*/
.custom-carousel {
  width: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  animation: slide-left 100s linear infinite; 
}

.slider img {
  width: 300px; 
  flex-shrink: 0; 
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000%); 
  }
}

/*about section section-title*/
.section-title-about {
  position: relative;
  display: inline-block;
}

.section-title-about::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-about::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -60%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-about.text-start::before,
.section-title-about.text-end::after {
  display: none;
}

/*flavor section section-title*/
.section-title-flavor {
  position: relative;
  display: inline-block;
}

.section-title-flavor::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-flavor::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -33%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-flavor.text-start::before,
.section-title-flavor.text-end::after {
  display: none;
}

/*reservation section-title*/
.section-title-reservation {
  position: relative;
  display: inline-block;
}

.section-title-reservation::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-reservation::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -39%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-reservation.text-start::before,
.section-title-reservation.text-end::after {
  display: none;
}

 /*team section-title*/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -24%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover {
  background:#bb9600;
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light);
}

/*footer-1 section-title*/
.section-title-footer-1 {
  position: relative;
  display: inline-block;
}

.section-title-footer-1::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-1::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-1.text-start::before,
.section-title-footer-1.text-end::after {
  display: none;
}

/*footer-2-3 section-title*/
.section-title-footer-2-3 {
  position: relative;
  display: inline-block;
}

.section-title-footer-2-3::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-2-3::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -65%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-2-3.text-start::before,
.section-title-footer-2-3.text-end::after {
  display: none;
}

/*footer-4 section-title*/
.section-title-footer-4 {
  position: relative;
  display: inline-block;
}

.section-title-footer-4::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-4::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -65%;
  margin-top: -1px;
  background: var(--primary);
}

.section-title-footer-4.text-start::before,
.section-title-footer-4.text-end::after {
  display: none;
}

/* Food Menu */
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--dark);
}

/*reservation*/
.form-select:focus {
  border: 2px solid #86000daf !important; 
  box-shadow: 0 0 8px rgba(138, 0, 14, 0.7) !important;
  outline: none; 
}

/* yt video */
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(img/reservation-img.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  background-color: #bb9600;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

/*team*/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 38px);
  transition: .5s;
}

.team-item img {
  transition: .5s;
  border: 2px solid #f01c11;
  border-radius: 50%; 
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}

/*footer*/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: #f01c11;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(226, 226, 226, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(225, 225, 225, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-radius: none;
}


.extra-info {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
  padding: 0;
}

.extra-info.show {
  max-height: 500px; 
  opacity: 1;
  padding: 10px 0;
}

.extra-info.hide {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.show-more-btn {
  background-color: #28a745 !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.show-more-btn:hover {
  background-color: #218838 !important; 
}

.show-less-btn {
  background-color: #dc3545 !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.show-less-btn:hover {
  background-color: #c82333 !important; 
}

.service-bg {
  background-color: #bb960050; 
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
}

.text-justify {
  text-align: start;
}

.privatePolicy-body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.privatePolicy-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privatePolicy-header, .privatePolicy-footer {
  text-align: center;
  margin: 20px 0;
}

.privatePolicy-header-title {
  text-transform: uppercase;
  font-weight: bold;
}

.privatePolicy-section-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.privatePolicy-paragraph {
  text-indent: 50px;
  margin: 10px 0;
}

.privatePolicy-list {
  margin-left: 50px;
  margin-bottom: 20px;
}

.privatePolicy-list-item {
  margin: 5px 0;
}

.privatePolicy-contact {
  margin-left: 50px;
}

.termsCondition-body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.termsCondition-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.termsCondition-header, .termsCondition-footer {
  text-align: center;
  margin: 20px 0;
}

.termsCondition-header-title {
  text-transform: uppercase;
  font-weight: bold;
}

.termsCondition-section-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.termsCondition-paragraph {
  text-indent: 50px;
  margin: 10px 0;
}

.termsCondition-list {
  margin-left: 50px;
  margin-bottom: 20px;
}

.termsCondition-list-item {
  margin: 5px 0;
}

.termsCondition-contact {
  margin-left: 50px;
}

#contact-img {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

.reservation-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 991px) {
  .reservation-footer {
      position: absolute;
  }
}